<h2>Share your location</h2>

<%= form_tag "/create_new_location", :id => "share_loc_form" do %>
  
  <div class="form-group">
    <p>Enter a Place (City/ Landmark) :</p> 
    <p> Ex: New York, Eiffel Tower, Taj Mahal etc. </p>
    <%= text_field_tag :place, '', :required => true %>
  </div>

  <div class="form-group">
    Share as public:
  	<%= check_box_tag "public" %>
  </div>

  

  <div class="form-group" id="users_select">
  <p>Or</p>
  Select users to share with:<br />

  	<%= select_tag 'selected_users', options_from_collection_for_select(@users, 'id', 'username'), { :multiple => true } %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>

<% end %>

<script type="text/javascript">
  $('#public').mousedown(function() {
    if (!$(this).is(':checked')) {
    	$('#users_select').hide();
    }
    else
    {
    	$('#users_select').show();
    }	
   });

</script